@model IEnumerable<QMS.Models.DOCREQ>

@{
    ViewData["Title"] = "List";
}

<h3>Delete Document Request List</h3>


<table class="table table-striped table-bordered" id="tabel">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reqtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reqinitiatedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioritydoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docowner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartsolveUpload)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Closestatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closedate)
            </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reqtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reqinitiatedate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioritydoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docowner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnicalData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SmartsolveUpload)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closestatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closedate)
                </td>
                <td style="text-align:center">
                    <a onclick="return confirm('Are you sure?')" asp-action="delete" asp-route-id="@item.Id"><i title="delete" class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tabel').DataTable(
            {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            }
        );
    });
</script>